#For Goodix fingerprint
type gx_fpd_device, dev_type;
# daizhiling add for goodix_fingerprint end

type smartpa_f0_detect_device, dev_type;

type smartamp_device, dev_type;

type eas_sched, dev_type;
