allow init vfat:file { read open };
allow init socket_device:sock_file { create setattr unlink };
allow init sysfs:dir rw_file_perms;
allow init sysfs:file rw_file_perms;
allow init input_device:chr_file r_file_perms;

allow init debugfs:dir mounton;
allow init debugfs:file write;
allow init property_socket:sock_file write;

allow init proc:lnk_file setattr;

allow init wifi_mac_exec:file getattr;
allow init proc_kernel_sched:file rw_file_perms;
allow init proc_dirty_ratio:file write;

allow init debugfs:file { rw_file_perms };

allow init eas_sched:dir { rw_file_perms };
allow init eas_sched:file { create setattr rw_file_perms };

allow init eas_sched:dir mounton;

allow init consumer_ir_device:file relabelto;

