allow location permission_service:service_manager find;
allow location diag_prop:file r_file_perms;
set_prop(location, diag_prop);

allow location eas_sched:dir { r_dir_perms };
allow location eas_sched:file { rw_file_perms };

allow location diag_device:chr_file { rw_file_perms };

