allow mediaserver audio_device:chr_file { ioctl open read write };
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket { read write };

#binder_call(mediaserver, audiod)
allow mediaserver camera_data_file:dir search;

allow mediaserver audiod:binder call;

allow mediaserver smartamp_device:chr_file { read write ioctl open };

allow mediaserver persist_file:file { r_file_perms };
allow mediaserver persist_file:dir { r_dir_perms };

allow mediaserver eas_sched:dir { r_dir_perms };
allow mediaserver eas_sched:file { rw_file_perms };

