# Fingerprint sensor
#allow tee fingerprint_dir:dir create_dir_perms;
#allow tee fingerprint_dir:dir rw_dir_perms;
#allow tee fingerprint_dir:file create_file_perms;
#allow tee fingerprint_dir:file rw_file_perms;

# qseecomd runs under the tee context
allow tee persist_file:file r_file_perms;

r_dir_file(tee, persist_drm_file);
