allow qti_init_shell kmsg_device:chr_file { write open };
allow qti_init_shell diag_prop:property_service set;
allow qti_init_shell self:socket create_socket_perms;
qmux_socket(qti_init_shell)


allow qti_init_shell ctl_default_prop:property_service set;

allow qti_init_shell coresight_prop:file { getattr open read };


allow qti_init_shell device:dir { add_name write };
allow qti_init_shell device:file { create open write };


allow qti_init_shell proc_touchpanel:dir { rw_dir_perms setattr };
allow qti_init_shell proc_touchpanel:file { getattr setattr };

allow qti_init_shell coresight_prop:property_service set;

allow qti_init_shell sysfs_power_management:dir search;
allow qti_init_shell sysfs_power_management:file { rw_file_perms };
allow qti_init_shell proc_kernel_sched:file { rw_file_perms };

