type ifaadaemon_service,          service_manager_type;

# daizhiling add for goodix_fingerprint begin
type gx_fpd_service, app_api_service, system_server_service, service_manager_type;
