allow servicemanager { hal_fingerprint_default mdtpdaemon }:dir { search };
allow servicemanager { hal_fingerprint_default mdtpdaemon }:file { r_file_perms };
allow servicemanager { hal_fingerprint_default mdtpdaemon }:process { getattr };
