allow sysinit adsprpcd_file:dir getattr;
allow sysinit cache_file:dir getattr;
allow sysinit proc:file { getattr open read write };
allow sysinit proc_dirty_ratio:file { getattr open read write };
allow sysinit rootfs:dir { add_name write };
allow sysinit rootfs:lnk_file create;
allow sysinit storage_file:dir getattr;

allow sysinit system_block_device:blk_file read;

allow sysinit system_block_device:blk_file open;
allow sysinit system_block_device:blk_file ioctl;
allow sysinit self:capability { sys_admin sys_rawio };
