allow system_app proc_touchpanel:dir search;
allow system_app sysfs_vibrator:file rw_file_perms;
allow system_app sysfs_vibrator:dir search;
allow system_app sysfs_graphics:file rw_file_perms;
allow system_app sysfs_graphics:dir search;

allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file rw_file_perms;

allow system_app sysfs_fpc_proximity:file rw_file_perms;

allow system_app fidoca:binder call;
allow system_app fingerprintd:binder call;
allow system_app goodix:binder call;

allow system_app media_rw_data_file:dir getattr;

allow system_app kcal_dev:file rw_file_perms;
allow system_app kcal_dev:dir search;
